flask
flask-limiter
flask-cors
gunicorn
uvicorn
httpx
python-dotenv
openai
Pillow
asgiref
hypercorn
websockets
requests
tavily-python
yfinance 
pandas 
tabulate
aiohttp==3.8.5
hypercorn==0.14.3
quart
quart-cors
